<div data-role="view" data-title="Thank you" data-layout="main" 
     data-model="app.thankyou" data-show="app.thankyou.onShow" 
     data-after-show="app.thankyou.afterShow" id="thankyouScreen" class="screen">

    <!-- START_CUSTOM_CODE_thankyou -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
     

    <div style="height:800px !important ;" id="dvstartfeedback">
        <div class="full-100"  >
            <img src="images/himalayaicons/thankyou.png" alt="thank you image" />
            <h1>THANK YOU</h1>
        </div> 
    </div> 
    <!--<div class="button-group">
        <a data-role="button" class="primary hbutton" data-bind="events: { click: gotodashboard }">Home</a>
        <a data-role="button" class="primary hbutton"  data-bind="events: { click: gotoretest}">Re-Test</a>
    </div>-->
    <!-- END_CUSTOM_CODE_thankyou -->
</div>