<div data-role="view" data-title="Feedback Form" data-layout="main" 
     data-model="app.feedbackformView" data-show="app.feedbackformView.onShow"
     data-after-show="app.feedbackformView.afterShow" id="feedbackformViewScreen" class="screen">
    <header data-role="header" class="km-header">
        <h1 id="headerquestion"></h1>
    </header>  
    <footer data-role="footer">   
        <div class="marginTopBottom-10">
            <div class="dvquestionnumber">
                #<span id="spanquestionnumber"></span>
            </div>
            <div class="hbutton-green" id="btnnext"
                 data-bind="events: { click: gotonext }">Next</div>
            </div>
    </footer>
    <div id="feedbackformViewModel">
        <div id="dvemailaddress" style="display:none">
            <input type="email" id="txtmailaddres"  placeholder="Enter email here"  value ="radhakrishnan.j@himalayawellness.com" />
        </div>

        <div id="dvtextsingleline" style="display:none">
            <input type="text" id="textsingleline" value="A"   placeholder="Enter your answer here" />
        </div>

        <div id="dvtextmultiline" style="display:none">
            <textarea type="text" id="textmultiline" placeholder="Enter your answer in detail here"  >ta</textarea>
        </div>

        <div id="dvwebsiteurl" style="display:none">
            <input type="url" id="txtwebsiteurl" placeholder="Enter url here" value="http://www.asp.net"   />
        </div>

        <div id="dvpincode" style="display:none">
            <input type="number" id="txtpincode" onkeyup="return textinputlength(this.value, 6, this.id);" placeholder="Enter pin code here" value="562162"   />
        </div>

        <div id="dvmultichoice" style="display:none">
            <div class="note pull-right">Note : You can select more than one option(s). </div>
           
            <input type="checkbox" id="chk1" name="chk" value="A">
            <label for="chk1">A</label><br/>
            <input type="checkbox" id="chk2" name="chk" value="B">
            <label for="chk2">B</label>
            <input type="checkbox" id="chk3" name="chk" value="C">
            <label for="chk3">C </label>
            <input type="checkbox" id="chk4" name="chk" value="D">
            <label for="chk4">D  </label>

        </div>

        <div id="dvsinglechoice" style="display:none">
            <div class="mandatory pull-right">&nbsp; </div> 
            <input type="radio" id="chk1" name="chk" value="A">
            <label for="chk1">A</label><br />
            <input type="radio" id="chk2" name="chk" value="B">
            <label for="chk2">B</label>
            <input type="radio" id="chk3" name="chk" value="C">
            <label for="chk3">C </label>
            <input type="radio" id="chk4" name="chk" value="D">
            <label for="radio">D  </label>
        </div>

        <div id="dvyesno" style="display:none"> 
            <input type="radio" id="radioyes" name="yesno" value="Yes">
            <label for="radioyes" class="green">Yes</label>
            &nbsp; 
            <input type="radio" id="radiono" name="yesno" value="No">
            <label for="radiono" class="red">No</label> 
        </div>

        <div id="dvtruefalse" style="display:none"> 
            <input type="radio" id="radiotrue" name="truefalse" value="True">
            <label for="radiotrue" class="green">True</label>
            <input type="radio" id="radiofalse" name="truefalse" value="False">
            <label for="radiofalse" class="red">False</label> 
        </div>
        <input id="hdncustomer_test_info_id" value="" type="hidden" />
        <input id="hdnquestion_type" value="" type="hidden" />
        <input id="hdnquestion_master_id" value="" type="hidden" /> 
        <!-- END_CUSTOM_CODE_feedbackformViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_feedbackformView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_feedbackformView -->
</div>