<div data-role="view" data-title="productdetail" data-layout="main" data-model="app.productdetail" data-show="app.productdetail.onShow"
     data-after-show="app.productdetail.afterShow" id="productdetailScreen" class="screen">
    <style>
        .item-cover {
            float: left;
            margin-right: 2.5%;
        }
    </style>
    <header data-role="header" class="km-header">
        <div class="button-group">
            <a data-role="backbutton" class="primary" data-align="right">Back </a>
            <a class="primary" data-role="button" href="components/dashboard/view.html"> Home</a>
        </div>
    </header> 
    <!-- START_CUSTOM_CODE_thankyou -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
     <span id="catalogid" style="display:none"> </span>
    <ul id="productdetail-listview"></ul>
    <script type="text/x-kendo-tmpl" id="template-productdetail">
        <!--<img data-src="#= detail_image #" alt="#=detail_image# image" width="30%" data-responsive class="resimgs item-cover" />-->
        <img src="#=detail_image#" alt="#=detail_image# image" class="item-cover" />
         <h2>#:cname# #:featurename# </h2>
        <h4>
            #: allowusertext # 
        </h4>
         <p>#= extendeddesc #</p>
    </script>
    <!--<div class="button-group">
        <a data-role="button" class="primary hbutton" data-bind="events: { click: gotodashboard }">Home</a>
        <a data-role="button" class="primary hbutton"  data-bind="events: { click: gotoretest}">Re-Test</a>
    </div>-->
    <!-- END_CUSTOM_CODE_thankyou -->
</div>
