<div data-role="view" data-title="nofoundmessage" data-layout="main" data-model="app.nofoundmessage" data-show="app.nofoundmessage.onShow"
     data-after-show="app.nofoundmessage.afterShow" id="nofoundmessageScreen" class="screen">
    <div id="nofoundmessagemodel">

        <!-- START_CUSTOM_CODE_customerformModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <ul class="form-content" data-role="listview" data-style="inset">
            <li class="form-content-item">
                <div style="font-size:32px">
                    <h1 class="text-center">
                         <span id="typevalue"></span> information coming soon
                    </h1>
                </div>
            </li>
        </ul>
        <!-- END_CUSTOM_CODE_customerformModel -->
    </div>
    <!-- START_CUSTOM_CODE_customerform -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_customerform -->
</div>
<!-- START_CUSTOM_CODE_formViewModel -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!-- END_CUSTOM_CODE_formViewModel -->
<!-- START_CUSTOM_CODE_formView -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!-- END_CUSTOM_CODE_formView -->