<div data-role="view" data-title="Dashboard" data-layout="main-nonav" data-model="app.dashboard" data-show="app.dashboard.onShow" data-after-show="app.dashboard.afterShow" id="dashboardScreen" class="screen">
    <div id="dvdashboard" class="form-view screen__content screen__content--form add-item-view">
        <form>
            <!--<ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">
                    <div id="headingField" class="field field--heading">
                        <h1>Thank You</h1>
                    </div>
                </li>
            </ul>--> 
            <div class="button-group">
                <a class="primary" data-role="button" data-bind="events: { click: gotoproduct}">Products</a>
                <a class="primary" data-role="button" data-bind="events: { click: gotocustomerform}">Feedback</a> 
            </div>
        </form>
        <!-- START_CUSTOM_CODE_formViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_formViewModel -->
    </div>
    <!-- START_CUSTOM_CODE_dashboard -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_dashboard -->
</div>