<div data-role="view" data-title="Customer Form" data-layout="main" 
     data-model="app.customerform" data-show="app.customerform.onShow"
     data-after-show="app.customerform.afterShow" id="customerformScreen" class="screen">
    <header data-role="header" class="km-header">
        <h1>Your Information</h1>
    </header>
    <footer data-role="footer"> 
        <div class="marginTopBottom-10">
            <div class="hbutton-green"
               data-bind="events: { click: gotofeedbackform }">Next</div> 
        </div> 
    </footer>
    <div id="customerformModel" class="form-view screen__content screen__content--form add-item-view">
          <div id="dvinputcname" >
            <input type="text" id="inputcname" 
                    onkeyup="return textinputlength(this.value, 200, this.id);" 
                   placeholder="Enter fullname here* " maxlength="200"/>
        </div>
        <div id="dvinputcmail">
            <input type="email" id="inputcmail" value=""
                    onkeyup="return textinputlength(this.value, 200, this.id);" 
                    placeholder="Enter email here"  />
        </div>
        <div id="dvinputcmobile"  >
            <input type="number" 
                   onkeyup="return textinputlength(this.value, 15, this.id);" 
                   id="inputcmobile" placeholder="Enter mobile number here*" MaxLength="3" size="3" />
        </div>
        <!-- START_CUSTOM_CODE_customerformModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_customerformModel -->
    </div>
    <!-- START_CUSTOM_CODE_customerform -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
    <!-- END_CUSTOM_CODE_customerform -->
</div>
<!-- START_CUSTOM_CODE_formViewModel -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!-- END_CUSTOM_CODE_formViewModel -->
<!-- START_CUSTOM_CODE_formView -->
<!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
<!-- END_CUSTOM_CODE_formView -->